@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  transition: background-color 0.5s ease-in-out;
}

[data-theme="light"] {
  /* background-color: #ffffff; */
}

[data-theme="coffee"] {
  /* background-color: #f5f5f5; */
}
:root {
  --swiper-pagination-color: #ff8f00;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}
